

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!-- THIS ONE IS GOOGLE FONT -->

<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">



<!--  THIS ONE IS GRIDLEX -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.4/gridlex.min.css">

<!-- link to owl carousel -->

<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- THIS ONE IS MINE -->
<link rel="stylesheet" href="/css/main.css">
