---
layout: default
---

<div class="blogpage">

  <div class="blogtitle">
   <h2>{{page.city}}</h2>
  </div>

  <div class="blogtext">
    <br><p>{{page.description1}}</p>
  </div>

  <div id="blogphotos" class="photogrid grid-center">

    <div class="col-4_sm-12">
      <img src="{{page.pic1_path}}">
    </div>
    <div class="col-4_sm-12">


      <img src="{{page.pic2_path}}">
    </div>
    <div class="col-4_sm-12">


      <img src="{{page.pic3_path}}">
    </div>


  </div>

  <div class="blogtext">
     <p>{{page.description2}}</p>
  </div>

  <div id="blogphotos" class="photogrid grid-center">




    <div class="col-6_sm-12">


      <img src="{{page.pic4_path}}">
    </div>

    <div class="col-6_sm-12">


      <img src="{{page.pic5_path}}">
    </div>

  </div>

  <div class="blogtext">
     <p>{{page.description3}}

  <div id="blogphotos" class="photogrid grid-center">

    <div class="col-6_sm-12">


      <img src="{{page.pic6_path}}">
    </div>

    <div class="col-6_sm-12">


      <img src="{{page.pic7_path}}">
    </div>

    <div class="col-12_sm-0">


      <img src="{{page.pic8_path}}">
    </div>

  </div>

</div>
