---
layout: default
---

<div class="blogpage">

  <div class="blogtitle">
   <h2>{{page.city}}</h2>
  </div>

  <div class="blogtext">
    <br><p>{{page.description1}}</p>
  </div>

  <div id="blogphotos" class="photogrid grid-center">

    <div class="col-4_sm-12">
      <img src="{{page.pic1}}">
    </div>
    <!-- <div class="col-4_sm-12">


      <img src="images/sunset1.jpg">
    </div>
    <div class="col-4_sm-12">


      <img src="images/sunset1.jpg">
    </div>
 -->

  </div>

  <div class="blogtext">
     <p>{{page.description2}}</p>
  </div>

  <div id="blogphotos" class="photogrid grid-center">




    <div class="col-6_sm-12">


      <img src="images/sunset1.jpg">
    </div>

    <div class="col-6_sm-12">


      <img src="images/sunset1.jpg">
    </div>

  </div>

  <div class="blogtext">
     <p>More info about the city will go in here!{{page.description1}}

  <div id="blogphotos" class="photogrid grid-center">

    <div class="col-6_sm-12">


      <img src="images/sunset1.jpg">
    </div>

    <div class="col-6_sm-12">


      <img src="images/sunset1.jpg">
    </div>

    <div class="col-12_sm-0">


      <img src="images/sunset1.jpg">
    </div>

  </div>

</div>
